/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    label{
        display: block;
        cursor: pointer;
    }

    .menu{
        text-align: center;
        width:100%;
        
    }

    .menu a{
        display: block;
        border: solid #5d0269;
        background: rgb(229, 159, 247, 0.719);
        border-radius: 25px; 
        margin: 0;
        width:100vmin;
    }

    #toggle:checked + .menu{
        display: block;
    }

    header{
        display: flex;
        justify-content:center;
        flex-direction: column;
    }

    .index_page_container_1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vmin;
        
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    

}