* {
        margin: 0;
        padding: 0;  
        background-image: url("Images/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
        background-position: center;
    }

    /*Header*/
header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items:center;      
        width: 100vmin;
        letter-spacing: 2px;
        word-spacing: 1px;
        font-family: 'Monoton', cursive;
        font-size: 30px;
        color: #5e0559;
        
    }

    h1{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 600px;
        height :100px;
        color: #5d0269;
        border: solid #5d0269;
        border-radius: 25px;     
        background:rgb(229, 159, 247, 0.719);
        margin-bottom: 20px;
    }

    /*Body*/
    p {
        background: rgb(229, 159, 247, 0.3) !important;
    }

    h2 {
        background:rgb(229, 159, 247, 0.719) !important;
        margin-bottom: 10px;
        letter-spacing: 2px;
        word-spacing: 1px;
        font-family: 'Monoton', cursive;
        font-size: 30px;
        color: #5e0559;
    }

    h3{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        width: 600px;
        height :50px;
        color: #5d0269;
        border: solid #5d0269;
        border-radius: 25px;     
        background:rgb(229, 159, 247, 0.719);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h4{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 600px;
        height :fit-content;
        color: #5d0269;
        border: solid #5d0269;
        border-radius: 25px;     
        background:rgb(229, 159, 247, 0.719);
        margin-bottom: 60px;
        padding: 5px;
    }

    h6 {
        background:rgb(229, 159, 247, 0.719) !important;
        margin-bottom: 10px;
    }
    

    body {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: auto; 
        margin-right: auto;
        margin-top:0px; 
        width: 100vmin;
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #5e0559;
        
    } 

    /*Navigation Menu*/
    .nav{
        display: inline-block;
        padding: 5px 20px;
        border: solid #5d0269;
        background: rgb(229, 159, 247, 0.719);
        border-radius: 25px;  
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #5e0559;
        text-decoration: none;
        justify-content: space-between;
        align-items: center; 
    }

    .menu{
        margin: 0 30px 0 0 ;
        color: #5e0559;
    }

    .menu a{
        text-decoration: none;
        color: #5e0559;
        margin: 0 10px;
        line-height: 70px;
        border: solid #5d0269;
        background: rgb(229, 159, 247, 0.719);
        border-radius: 25px; 
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        padding: 5px 20px;
        
    }

    label{
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
    }

    #toggle{
        display: none;
    }

    .menu a:hover {
        background-color: lavender;
        cursor: pointer;
    }

    /* Home Page */
    .index_page_container_1{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        width: 600px;
        height:fit-content;
        color: #5d0269;
        border: solid #5d0269;
        border-radius: 25px;     
        background:rgb(229, 159, 247, 0.719);
        padding: 10px;
        margin-bottom: 10px;
    
    }

    /* Experience Page*/
    .experience_page_container_1{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        width: 600px;
        height:fit-content;
        color: #5d0269;
        border: solid #5d0269;
        border-radius: 15px;     
        background:rgb(229, 159, 247, 0.719);
        padding: 10px;
        margin-bottom: 10px;
    }

    .experience_page_container_1 a{
        font-size: 20px;
        font-style: italic;
        text-decoration: none;
        color: #5d0269;
        background:rgb(229, 159, 247, 0.719);
    }

    .experience_page_container_1 a:hover{
        color: lavender;
        cursor: pointer;
    }

        /*Blog Page*/
    .blog_page_container_1{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        width: 700px;
        height:fit-content;
        color: #5d0269;
        border: solid #5d0269;
        border-radius: 25px;     
        background:rgb(229, 159, 247, 0.719);
        justify-content: space-around;
        padding:5%;
        margin-bottom: 5%;
        }

        .blog_page_container_1 a{
            
        text-decoration: none;
        color: #5e0559;
        margin: 10px 10px;
        width: fit-content;
        border: solid #5d0269;
        background: rgb(229, 159, 247, 0.719);
        border-radius: 25px; 
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        padding: 5px 5px;
        }

        .blog_page_container_1 img{
            width: 600px;  
            height:fit-content;
            border-radius: 15%;
            margin-bottom: 20px;
            margin-top: 10px;
        }

        .blog_page_container_1 a:hover {
            background-color: lavender;
            cursor: pointer;
        }


        /*Contact page*/
     .contact_page_container_1{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
            height:200px;
            color: #5d0269;
        }

        form{
            display: flex;
            flex-direction: column;
            margin-top: auto;
            transition: all 4s ease-in-out;
            color: #5d0269;
            justify-content: space-around;
            text-align: center;
            width: 600px;
            margin-top: 20px;
        }

        .form-control{
            color: #5d0269;
            border: solid #5d0269;
            border-radius: 25px;     
            background:rgb(229, 159, 247, 0.719);
        }

        input{
            display: flex;
            justify-content: center;
            text-align: center;
            height: 30px;
        }

        textarea{
            display: flex;
            justify-content: center;
            height: 80px;
            text-align: center;
        }

        form .submit{
            color: #5d0269;
            border: solid #5d0269;
            border-radius: 25px;     
            background:rgb(229, 159, 247, 0.719);
        }

        form .submit:hover{
            background-color: lavender;
            cursor: pointer;
        }

        .contacts{
           
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
            width: 600px;
            height:fit-content;
            color: #5d0269;
            border: solid #5d0269;
            border-radius: 15px;     
            background:rgb(229, 159, 247, 0.719);
            padding: 10px;
            position: fixed;
            left: 50%;
            bottom: 10%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
        }

        .contact_page_container_1 li{
            background:rgb(229, 159, 247, 0.719);
        }
    
        /* Button to return to top of page*/
        #myBtn {
            
            position: fixed; 
            bottom: 10px; 
            right: 10px;
            
            cursor: pointer; 
            padding: 15px; 
            font-size: 18px; 
            color: #5d0269;
            border: solid #5d0269;
            border-radius: 25px; 
            background:rgb(229, 159, 247, 0.719);
          }
          
          #myBtn:hover {
            background-color: lavender;
            cursor: pointer;
          }

        /*Profile image*/
        img {  
            width: 200px;  
            height: 200px; 
            border-radius: 50%;
            border: solid #5d0269;
            }  

/* Style all font awesome icons */
.fa {
    display: inline-block;
    position: static;
    padding: 7.5px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    border-radius: 15px;
    color: #5d0269;
    border: solid #5d0269;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background:rgb(229, 159, 247, 0.719);
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    background-color: lavender;
    cursor: pointer;
  }

  .page-footer{
      margin: auto;
      margin-bottom: 20px;
      position: relative;

  }
  
  


